.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
  margin-top: 75px;
}

.filter-option {
  display: flex;
  width: 149px;
}

.filter-icon-buttons {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.orange {
  color: #dc9000;
  font-size: 28px;
  cursor: pointer;
}

.filter-product-label {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #223263;
  margin-right: 5px;
}

.option {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #dc9000;
}

.underline {
  background-image: linear-gradient(orange 0 0);
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 2px;
  background-size: 79% 1px;
}

.option > u {
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.filter-icon-buttons .selected {
  color: #c8c8c8;
}

.add-button {
  background: #dc9000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 35px;
  width: 82px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  margin-left: 20px;
}

.add-button:hover {
  background: #b67600;
}

.filter {
  margin-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .filter-container {
    margin-top: 50px;
    padding: 0 16px;
  }

  .filter-product-label {
    font-size: 32px;
    margin-right: 20px;
  }

  .filter-option .option {
    font-size: 32px;
  }

  .orange {
    font-size: 35px;
  }

  .filter-icon-buttons {
    width: auto;
  }

  .add-button {
    background: #dc9000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 54px;
    width: 148px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
  }
}
