.container-image {
  width: 60px;
  height: 60px;
}

.container-product-info {
  display: flex;
  flex-direction: column;
  width: 52%;
}

.container-product-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}

@media only screen and (min-width: 1024px) {
  .container-product-info {
    width: 70%;
  }

  .container-product-buy {
    width: inherit;
  }
}
