.product-label {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #223263;
  margin-right: 5px;
}

@media only screen and (min-width: 1024px) {
  .product-label {
    font-size: 32px;
  }
}
